/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

* {
  outline: none;
}

body {
  position: relative;
  color: #333;
  background-color: #ccc;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  font-size: 18px;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

button,
input,
textarea {
  font-size: 16px;
}

button {
  border: none;
  padding: 10px;
  text-align: center;
  max-width: 150px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #ccc;
}

input {
  padding: 10px;
  border-radius: 4px;
}
